.idea/
apt/.vagrant
apt/Berksfile.lock
apt/Gemfile.lock
apt/*~
apt/*#
apt/.#*
apt/\#*#
apt/.*.sw[a-z]
apt/*.un~
apt/.bundle
apt/.cache
apt/.kitchen
apt/bin
apt/.kitchen.local.yml
apt/.coverage
yum/.vagrant
yum/Berksfile.lock
yum/Gemfile.lock
yum/*~
yum/*#
yum/.#*
yum/\#*#
yum/.*.sw[a-z]
yum/*.un~
yum/.bundle
yum/.cache
yum/.kitchen
yum/bin
yum/.kitchen.local.yml
yum/.coverage
